<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivos estaticos com express</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <h1>Esta funcionando</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto libero ducimus quibusdam ipsum placeat a doloremque beatae deserunt veniam! Enim cum libero odit veritatis maiores itaque, commodi beatae earum iste.</p>
    <button id="teste">Testar</button>
</body>
<script src="/assets/script.js"></script>
</html>